html, body 
{
   margin:0;
   padding:0;
   height:100%;
   width:100%;
   font-family: Segoe UI,'Economica';
   overflow:hidden;

}

.loginContainer {
    position: relative;
    margin:0 auto; 
    width:800px; 
    height:400px; 
    margin-top:200px;
}

.loginProviders {
    width:730px;
    margin: 0 auto;
    margin-top: 20%;
    
}

.authHeading 
{
    right:2px;
    top:40px;
    position: absolute;
    font-size:large; 
    height: 22px;
}


.artRightTop
{
    position:absolute;
    right:0px;
    top:0px;          
}

.artLeftTop
{
    position:absolute;
    left:0px;
    top:0px;          
}

.artRightBottom
{
    position:absolute;
    right:0px;
    bottom:0px;          
          
}

.artLeftBottom
{
    position:absolute;
    left:0px;
    bottom:0px;
}

.retroHeading 
{
    right:0px;
    position: absolute;
    font-size:30pt; 
    height: 63px;
}

.backGradientTop {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9dee1), color-stop(100%,#ffffff));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d9dee1', endColorstr='#ffffff');
    height:50%; 
    position:absolute; 
    top:0px; 
    width:100%;
    z-index:-1;
}

.backGradientBottom {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d9dee1));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#d9dee1');
    height:50%; 
    position:absolute; 
    bottom:0px; 
    width:100%;
    z-index:-1;
}

.bottomLine 
{
    position:absolute; 
    bottom:0px; 
    z-index:1; 
    height:10px; 
    width:100%; 
    background-color:#377db0;
}

.entityContainer
{
    margin:5px;
    overflow:hidden;
    box-shadow: 0 0 5px #888;
}

.entityContainer:hover {
    cursor:pointer;
}


.entityContainer img {
    width: 90%;
    margin-left:5px;
    margin-top:45px;
    vertical-align: middle;
}

.entityContainer button {
    width: 90%;
    margin-left:20px;
    margin-top:50px;
    vertical-align: middle;
}



.entityContainerBlock
{
    height:130px;
    width:110px;
    float:left;
}
.metroBlue
{
    background-color:#ffffff;
}
